{
 "presets": [
    ["@babel/preset-env",{
      "useBuiltIns":false,//不对es6新的Api进行解析
      // "useBuiltIns": "usage",//对新的Api进行解析
      "corejs": 3
    }],
    "@vue/babel-preset-jsx"//解析vue中jsx语法
 ],
 "plugins": [
  //  "@babel/plugin-proposal-class-properties",//编译es7的语法,class中私有属性定义
  //  "babel-plugin-transform-remove-console"//移除所有console.log
 ]
}